@media (max-width: 767px) {
  .main-header {
    background: #fff;
  }
  .navbar-toggle {
    margin-right: 0px;
    margin-top: -45px;
  }
  .navbar {
    min-height: 0px;
  }
  .top-menu .navbar-nav li a {
    padding: 11px 15px;
  }
  .top-menu .navbar-nav li {
    margin-left: 0;
  }
  .menu-down .top-menu .navbar-nav li a {
    padding: 11px 15px;
  }
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: 420px;
  }
  .navbar-collapse {
    background: #fff;
    border-top: 1px solid #a7a5a5;
  }
  .top-menu .navbar-nav li a {
    color: #222;
    text-align: center;
  }

  .section-padding {
    margin-top: 60px;
    padding: 0
  }

  .contact-map {
    height: 400px;
  }
}
